.header-title {
  margin-left: 16px;
}

.body-content {
  margin: 16px 0 0 16px;
}

.project-view-section{
    margin-left: 10px;
}
.card-wrap {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex: 8;
  margin-top: 10px;
}


.card-item {
  margin: 8px;
  transition: all ease 0.3s;
}

.card-item:hover {
    transform: translateY(-2px);
    transform: scale(1.02);
    background: #eee;
  }
  

/* //////*/

.add-project {
  width: 450px;
}
